body {
    min-height: 100vh;
    background: #210d29;
    background: linear-gradient(0deg, rgba(33, 13, 41, 1) 0%, rgba(0, 0, 0, 1) 42%);
    background-attachment: fixed;
    font-family: sans-serif;
    color: white;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}